body {
    padding-top: 0px;
    padding-bottom: 20px;    
    background-color: #4abdac;
    color: #dfdce3;
}

.p-alignment {
    text-align: justify;
    font-size: x-large;
    
}


/* Top buffer for spacing between dbc.Row(0 objects */
.top-buffer { margin-top:15px; }


/* Used to align the text at the top of the page content to the center */
.page-header { text-align: center; }


/* Styling for the KPI cards on the dashboard */
.kpi-card-body {
    color: #dfdce3;    
}
.kpi-card-title-text {
    color: #4abdac;    
}
.kpi-card-value-text {
    color: #f78733;
    font-size: 1.8em;
    text-align: center; 
    font-weight: bold;
}


/* Set padding to keep content from hitting the edges */
.dashboard-body-content {
    padding-top: 50px;
    padding-left: 390px;
    padding-right: 390px;
}

.body-content {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.body-content-col-left {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 1.25px;
}

.body-content-col-middle {
    padding-top: 15px;
    padding-left: 1.25px;
    padding-right: 1.25px;
}

.body-content-col-right {
    padding-top: 15px;
    padding-left: 1.25px;
    padding-right: 10px;
}

.filter-label {
    color: #dfdce3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-bottom: 5px;
}


/* Dropdown styling */
.dropdown {
    position: relative;
    margin-bottom: 15px;
    /* background-color: #4abdac; */
}
.dropdown-text {
    color: #f78733;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f78733;
    width: 75%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Navbar styling */
.navbar {
    color: #f78733;
    margin-left: 0.5;
    padding-left: 0.5;
    
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #dfdce3;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #f78733;
    background-image: linear-gradient(top top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #f78733;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}






/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#framed {

    position: relative;
    width: 100%;
    height: 100%;   

}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}